.squirrels-container {
    display: flex; 
    justify-content: space-around;
}

.squirrel-list {
    width: 48%;
    border: 1px solid gray;
}

.welcome-img {
    width: 70%
}

.main-logo {
    color: rgb(253, 196, 110);


}

/* -------------------------------------------------- */



body {
  background: url(http://sfwallpaper.com/images/brown-wood-wallpaper-15.jpg);
  background-attachment: fixed;
}

h1 {
  text-align: left;
}

a {
  text-decoration: none;
}

body {
  color: rgb(184, 184, 184);
}

h1 {
  color:rgb(252, 200, 133);
}

h2 {
  color:rgb(255, 255, 255);
}

a:link {
  color: rgb(255, 211, 154);
}

a:visited {
  color: rgb(49, 91, 182);
}

body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
     font-size: 1em; 
     padding:0; 
     margin:10; }

hr { width:100%; height:1px; background: #fff }

